
<form [formGroup]="form" class="ui-g">
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
        <div>Nome</div>
        <input class="width-100" pInputText formControlName = "nome"/>
    </div>

    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
        <div>CPF</div>
        <p-inputMask class="ui-fluid" mask="999.999.999-99" [unmask]="true" formControlName = "cpf"></p-inputMask>
    </div>

    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
        <div>Email</div>
        <input class="width-100" pInputText formControlName = "email"/>
    </div>

    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
        <div>Cargo</div>
        <p-dropdown class="ui-fluid" [options]="cargos" formControlName = "cargo"></p-dropdown>
    </div>

    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
        <div>Data de Nascimento</div>
        <p-inputMask class="ui-fluid" mask="99/99/9999" [unmask]="true" formControlName = "dataNascimento"></p-inputMask>
    </div>

    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
        <div>Ativo</div>
        <p-checkbox class="ui-fluid" binary="true" formControlName = "status"></p-checkbox>
    </div>

    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
        <div>Telefone</div>
        <p-inputMask class="ui-fluid" mask="(99)99999-9999" [unmask]="true" formControlName = "telefone"></p-inputMask>
    </div>
    <div class="ui-g-12">
        <p-button class="ui-fluid" label="Salvar" (onClick)="submit()"></p-button>
    </div>
</form>