
 @charset "UTF-8";

 body {
   
   font-family: 'verdana', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#ffffff;
   background-color:#1f2926;
 }
 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #ffffff;
 }
 
 h2 {
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #ffffff;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   text-decoration: none;
 }
 
 .blue { color: #2d3036; }
 .yellow { color: #FFF842; }
 
 .container th h1 {
       font-weight: bold;
       font-size: 1em;
   text-align: left;
   color: #ffffff;
 }
 
 .container td {
       font-weight: normal;
       font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
             box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container {
       text-align: left;
       overflow: hidden;
       width: 80%;
       margin: 0 auto;
   display: table;
   padding: 0 0 8em 0;
 }
 
 .container td, .container th {
       padding-bottom: 2%;
       padding-top: 2%;
   padding-left:2%;  
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
       background-color: #121615;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
       background-color: #121615;
 }
 
 .container th {
       background-color: #121615;
 }
 
 .container td:first-child { color: #ffffff; }
 
 .container tr:hover {
    background-color: #121615;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;
 }
 
 .container td:hover {
   background-color: greenyellow;
   color: black;
   font-weight: bold;
   
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
       transition-duration: 0.4s;
       transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }
 ::ng-deep .container {
    color: #ffffff;
 }
 ::ng-deep body .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-tfoot > tr > td{
    color: #ffffff;
 }
 ::ng-deep body .ui-inputtext {
     color: #ffffff;
 }
 ::ng-deep body .ui-paginator {
     color: #323C50
 }
 ::ng-deep body .ui-table .ui-sortable-column.ui-state-highlight {
     border-top-color: greenyellow; 
 }
 
 ::ng-deep .body .ui-table {
     border-color: greenyellow;
 }
 ::ng-deep .ui-table table{
     border-color: black;
 }
 