$primaryColor: #000000;
$primaryDarkColor: #000000;
$primaryLightColor: #000000;
$accentColor: #10c500;
$accentDarkColor: #00b436;
$accentLightColor: #00ac25b6;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';